:root {
    --primary-color: #F0E1D1;
    --secondary-color: #3967a7;
    --thirdary-color: #0e1a27;
}

/*Mobile version*/
.h1content{
    padding: 20px;
    border-radius: 10px;
    background-color: var(--primary-color);
}
.h2Description{
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 10px;
    background-color: var(--primary-color);
}
/*Desktop version*/
@media (min-width: 768px) {
    .h2Content{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .h2Description{

        padding: 20px;
        margin-bottom: 30px;
        border-radius: 15px;
        background-color: var(--primary-color);
    }
    .projectCardContainer{
        display: flex;
        flex-wrap: wrap;
    }
    .cards{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
    }
}